:root{
    --bg-yellow: #E9CE43;
    --yellow-letter: #C9B23A;
    font-family: 'Montserrat', sans-serif;
}
body, html{
    padding: 0;
    margin: 0 ;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(2, 0, 43);
}

.sticker-title {
    max-width: 100%;
    position: relative;
    top: -50px;
    left: 15px;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.workshop {
    background-image: url(imagens/BG\ WS\ LP\ 1.png);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    gap: 10px;
    
}

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px ;
    gap: 10px;
}

.div-bar img{
    width: 100%;
}

.workshop-description {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
    color: #fff;
}

.workshop-description p {
    margin: 20px 30px;
    text-align: center;
    font-size: 1.5em;
    
}

.description-botton {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.description-botton h2 {
    margin: 0;
}

.change-spacing {
    letter-spacing: 0.2em;
}

.change-color {
    color: var(--yellow-letter);
    font-weight: 900;
}

.inscricao-area {
    height: 580px;
}

.inscricao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    max-width: 400px;
    background-color: var(--bg-yellow);
    height: 500px;
    position: relative;
    top: -90px;
}

.inscricao .inscricao-top-tiitle {
    font-size: 2.3em;
}

.inscricao h2, .inscricao-submit {
    text-align: center;
    font-weight: 900;
    font-size: 1.4em;
}


.inscricao-input {
    padding-left: 20px;
    background-color: black;
    color: #828282;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.671);
}

.inscricao-submit {
    cursor: pointer;
    background-color: #fff;
    border:none;
    border-bottom: solid 5px rgb(236, 235, 235);
}

.checked {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked p{
    margin: 0;
}

.checked input{
    margin: 0;
    width: 20px;
    
    margin-right: 10px;
}

.security-classes {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.security {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

.security img {
    margin: 0 15px;
}

.bg-tocha {
    background-image: url(imagens/tocha\ 2.png);
    background-repeat: no-repeat;
    background-position: 1100px 200px;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  0;

}

.video h3 {
    margin: 5px 0;
    font-size: 1.8em;
}

.image-tocha {
    position: relative;
    left: 1100px;
    top: 250px;
    height: 520px;
    
    
}
#image-tocha2 {
    visibility: hidden;
}


.workshop2 {
    height: 1500px;
    width: 100%;
    background-image: url(imagens/BG-FOTOZANG.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    position: relative;
    
    
}
.zang-img {
    max-height: 900px;
    max-width:700px ;
    
    
}

.workshop2 img {
    vertical-align: bottom;
}

.workshop2-text {
    
    width: 500px;
    margin-top: 700px;
    text-align: justify;  
    vertical-align: bottom;
}

.workshop2-text p {
    font-size: 1.1em;

}

.workshop2 h2 {
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 80px;
}

.bg-yellow {
    background-color: var(--bg-yellow);
}

.cronograma {
    margin: 0 auto;
    text-align: center;  
    padding: 50px 50px; 
}

.cronograma h2 {
    
    font-size: 2.0em;
    font-weight: 900;
}

.datas {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.molde {
    width: 400px;
    height: 400px;
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.bg-tape {
    background-image: url(imagens/TAPE\ PRETO\ 1.png);
    background-position: center;
    height: 100%;
    width: 100%;   
}

.bg-purple {
    background-color: #2e0233;
    padding: 10px;
    border-radius: 5px;
}

.bg-tape h2 {
    padding-top: 40px;
}

.left-align {
    padding: 10px;
    text-align: left;
    color: #1a001d;
    font-weight: 700;
}

.left-align h2 {
    text-align: center;
    width: 130px;
    margin: 0;
}

.button {
    max-width: 500px;
    width: 50%;
    height: 80px;
    margin-top: 200px;
    border-radius: 5px;
    border-bottom: solid 10px rgb(14, 189, 174);
}

.bg-grey {
    background-image: url(imagens/BG\ WS\ LP\ 1.png);
    width: 100%;
    
}
.bg-white {
    background-color: white;
}

.certificacao {
    padding: 70px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.certificacao h3 {
    font-size: 2.0em;
}

.certificacao-content {
    display: flex;
    justify-content: center;
    
    content: 50px;
    margin: 50px 0;
    gap: 70px;
    color: white;
    padding: 30px;
    
}

.content {
    border-bottom: solid 3px white;
}

.workshop3 {
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 0;
    gap: 15px;
}
.workshop-description3 {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    color: rgb(20, 1, 54);
}

.workshop-description3 h1 {
    width: 180px;
    font-size: 2.5em;
    font-weight: 800;
    margin: 0;
}

.workshop-description3 p {
    margin: 0%;
    width: 60%;
    text-align: left;
    font-size: 1.5em;   
}

.correction {
    padding: 12px;
}

.font3 {
    width: 40%;
    font-size: 1.8em;
    font-weight: 800;
}

.font4 {
    width: 50%;
    font-size: 1.7em;
    font-weight: 900;
}



.font2 h2, button{  
    font-size: 2.4em;
    font-weight: 900;
}

.flex-row {
 display: flex;
 align-items: center;
}



.flex-row h2 {
    font-family: 3em;
}

.inscricao3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 400px;
    background-color: var(--bg-yellow);
    height: 520px;
    
}
.inscricao-top-tiitle3 {
    font-size: 3em;
}
.inscricao3 .inscricao-top-tiitle {
    font-size: 2.3em;
}

.inscricao3 h2, .inscricao-submit {
    text-align: center;
    
}

.tape1 {
    position: relative;
    top: -120%;
    left: -20%;
}

.tape2 {
    position: relative;
    top: -20%;
    left: 20%;
}

.botao {
    height: 60px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    
}

.footer img{
    color: black;
}

.flex-center-column { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.flex-center {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 100px;
}

.footer-container {
    width: 50%;
    font-size: 1.4em;
}

.footer1 {
    width: 60%;
    padding: 20px;
    margin: 20px;
    border-bottom: solid 1px black;
    text-align: center;
}
.footer1 p {
    margin-top: 0;
}


.footer2 p{
    text-align: center;
    width: 600px;
}



@media(max-width:1200px){
    .workshop {
        padding-top: 10PX;
    }
    
    .workshop-description {
        margin-bottom: 100px;
    }

    .bigger {
        font-size: 2.3em;
    }


    .workshop2 {
        background-image: url(imagens/BG\ WS\ LP\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }
    .workshop2-text {
        width: 70%;
        margin: 0 auto;
    }
    #image-tocha {
        position: relative;
        left: -200px;
         display: none;
     }
     #image-tocha2 {
        position: relative;
        left: -200px;
         display: none;
     }

}


@media(max-width:990px){
    #image-tocha {
       position: relative;
       left: -200px;
        display: none;
    }
    iframe{
        width: 500px;
        height: 350px;
    }

    .workshop {
        gap: 0;
        height: 100%;
    }
    .workshop2 {
        background-image: url(imagens/BG\ WS\ LP\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 0;
        display: flex;
        flex-wrap: wrap-reverse;
        color: white;
    }
    .zang-img, .workshop2-text {
        margin: 0 auto;
        
    }
    .workshop2 img {
        margin-top: 0px;
        align-items: center;
    }
    
    .bg-purple {
        background-color: black;
        text-align: center;
        padding: 0;
    }
    .left-align {
        background-color: black;
        text-align: center;
        color: #fff;
        margin: 10px;
        border-radius: 7px;
        height: 150px;
    }

    .left-align h2 {
        width: 100%;
    }

    .molde-mobile {
        height: 550px;
        margin: 30px 0;
    }

    .certificacao h3 {
        text-align: center;
    }
    
    
    .button{
        margin-top: 0px;
        font-size: 1.1em;
        border-color: black;
    }
    .certificacao {
        padding: 0;
    }

    .certificacao-content {
        flex-wrap: wrap;
        text-align: center;
    }
    .font3 {
        width: 100%;
    }

    .mobile-none {
        display: none;
    }

    .workshop-description3 {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px ;
    }
    
    .workshop-description3 h1 {
        width: 70%;
    }
    .workshop-description3 p {
        width: 70%;
        text-align: center;
    }
    .mobile-row {
        display: flex;
        justify-content: center;
    }
    .flex-row {
        width: 40%;
    }
    .flex-center {
        gap: 0;
    }
}

@media (max-width:700px) {
    .zang-img {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 250px;
    }
    .workshop-description {
        width: 90%;
    }

    .workshop-description3 {
        width: 90%;
    }
    .inscricao-area {
        width: 90%;
    }
    .workshop2-text {
        width: 90%;
    }
    .footer2 p {
        width: 90%;
    }
    .footer-container {
        width: 90%;
    }
    .sticker-title {
        
    }
    .datas {
        width: 90%;
        height: 100%;
    }

    .molde {
        width: 90%;
        height: 100%;
    }
    .font4 {
        width: 100%;
    }
    .mobile-row {
        width: 100%;
        padding:0 ;
        align-items: flex-start;
    }
    .flex-row {
        text-align: left;
        width: 50%;
    }

    .footer1 p, .footer2 p {
        font-size: 0.7em;
    }
}
    